<h1>Welcome <%= @patient.name %></h1>
<h3>MRN: <%= @patient.id%></h3>

<h3>Patient Health Record</h3>
  
    <% if @patient.gender == 0 %>
            <p>Gender: Male</p>
        <% else  %>
            <p>Gender: Female</p>
    <%end%>

    <p>Age: <%= @patient.age%> years</p>
    <p>Blood Type: <%= @patient.blood_type%></p>
    <p>Allergies: <%= @patient.allergies%></p>
    <p>Weight: <%= @patient.weight%> kg</p>
    <p>Height: <%= @patient.height%> cm</p>
    <p>Body Mass Index: <%= '%02d' % (@patient.weight/(((@patient.height)/100)*2))%></p>
<hr>


    <h3> Patient Appointments </h3>
    <% @apt.each do |apt|%>
        <p> Appt number: <%= apt.id%> </p>
        <p> Clinic Type: <%= apt.clinic%> </p>
        <p> Date: <%= apt.date%> </p>
        <p> Time: <%= apt.time.to_s[11, 5]%> </p>
    <%= link_to "Cancel", appointment_path(apt.id), method: :delete%> || <%= link_to "Reschedule", edit_appointment_path(apt.id)%>
    <hr>
    <% end %>


<%= link_to "Book New Appt", new_appointment_path%><br>
<%= link_to "Sign Out", destroy_patient_session_path, method: :delete%>